{% load static %}
<html>
    <head>
        <title>home page</title>
        
        <link rel="stylesheet" href="{% static 'style1.css' %}">
        
        
    </head>
 <body>

    <h1 class="head">MEMBERS</h1>
    <div class="table">
<table border="1" >
    <thead>
        <tr>
            <td>Id</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Date Of Birth</td>
            <td>Update Info.</td>
            <td>Delete Info.</td>
            
        </tr>
    </thead>
{% for x in mymembers %}

<tr>
<td>{{ x.id }}</td>
<td>{{ x.firstname }}</td>
<td>{{ x.lastname }}</td>
<td>{{x.dob}}</td>
<td><a href="update/{{ x.id }}">UPDATE</a>

<td><a href="delete/{{ x.id }}">DELETE</a></td>

</tr>
{% endfor %}
</table>
<p>
    <button class="button"><a href="add/">Add member</a></button>
    </p>
</div>
    </body>
</html>         
